version: "3"

volumes:
  database:
    driver: local

services:
  postgres:
    platform: linux/amd64
    image: postgres:16
    container_name: wizloft_postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_DATABASE: wizloft
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - database:/var/lib/postgresql/data

